body {
  background: #888;
  text-align: center;
}

.App {
  width: 75vw;
  max-width: 1220px;
  background: #ccc;
  margin: 0 auto;
}

header {
  padding: 30px 0;
}


.current-search-buttons {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.image {
  width: 200px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  border-radius: 3px;
  border: 1px solid #888;
  width: calc(20% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5px 10px 5px;
}

button {
  width: 150px;
  height: 25px;
}
